div(style="margin: 0 auto; width:280px;")
  object(data="/svg/raw", style="width: 280px; height:230px;", type="image/svg+xml", height="230", width="280")
    embed(src="/svg/raw", style="width: 280px; height:230px;", type="image/svg+xml")
p Der Durchschnittspunkt ist #{avg.soc}, #{avg.ec}. Die Rahmen zeigen die 90%- bzw. 80%-Bereiche.
